/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Akshar', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que header, contenido y footer estén distribuidos */
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden; /* Evita el scroll */
    box-sizing: border-box; /* Asegura que padding no cause desbordamiento */
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

.container {
    max-width: 90%;
    padding: 1rem;
    flex: 1; /* Permite que el contenido central crezca y ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}

/* Header y footer */
.construction-header, .construction-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box; /* Evita desbordamientos por padding */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left-text, .right-text {
    flex: none;
    font-size: 0.8rem;
}

.center-text {
    flex: none;
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: center;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
}

.logo {
    max-width: 50%;
    height: auto;
    margin: 1rem auto;
}

.btn-instagram-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-instagram {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-instagram:hover {
    background-color: #ffffff;
    color: black;
}

.construction-footer a {
    color: #ffffff !important;
    text-decoration: none;
}

.construction-footer a:hover {
    color: #ec5610 !important;
}

/* Media Query para pantallas pequeñas en orientación horizontal */
@media (max-width: 768px) and (orientation: landscape) {
    .logo {
        max-width: 20%;
    }

    .btn-instagram {
        padding: 0.8rem 1.6rem;
        font-size: 1.2rem;
    }

    .container {
        padding: 0.5rem;
    }
}

/* Media Query para pantallas pequeñas o móviles en orientación vertical */
@media (max-width: 480px) and (orientation: portrait) {
    .logo {
        max-width: 50%;
    }

    .btn-instagram {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .left-text, .right-text {
        font-size: 0.8rem;
    }
}
