/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Akshar', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    background: url('../img/FONDO_KORUDO_COLD_BREW.png') no-repeat center center/cover;
}

.container {
    max-width: 90%;
    padding: 1rem;
}

/* Header y footer */
.construction-header, .construction-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    padding: 0 2rem;
}

.construction-header {
    top: 1rem;
}

.construction-footer {
    bottom: 1rem;
}

.left-text, .right-text {
    flex: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.8rem;
}

.center-text {
    flex: none;
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: center;
    position: absolute; /* Fija la posición */
    left: 50%;
    transform: translateX(-50%); /* Asegura el centrado */
}

/* Logo y botón */
.logo {
    max-width: 35%;
    height: auto;
    margin: 1rem;
}

.btn-instagram-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-instagram {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-instagram:hover {
    background-color: #ffffff;
    color: black;
}

.construction-footer a {
    color: #ffffff !important;
    text-decoration: none;
}

.construction-footer a:hover {
    color: #ec5610 !important;
}

/* Media Query para pantallas pequeñas en orientación horizontal */
@media (max-width: 768px) and (orientation: landscape) {
    .logo {
        max-width: 20%;
    }

    .btn-instagram {
        padding: 0.8rem 1.6rem;
        font-size: 1.2rem;
    }

    .container {
        padding: 0.5rem;
    }
}

/* Media Query para pantallas pequeñas o móviles en orientación vertical */
@media (max-width: 480px) and (orientation: portrait) {
    .logo {
        max-width: 50%;
    }

    .btn-instagram {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .left-text, .right-text {
        font-size: 0.8rem;
    }
}
